.container{
  font-family: 'Francois One', sans-serif;
}
.logo{
  max-width: 150px;
}
#nav{
  background-color: #b13333;
}
.nav-link{
  color: white;
}
.navbar-toggler{
background-color: white;
}
#trailer{
  margin-top: 15px;
  text-align: center;
  background-color: #3b3d86;
  color: white
}
#info{
  margin-top: 15px;
  background-color: #3b3d86;
  color: white;
  text-align: center;
}
#characters{
  margin-top: 15px;
}
.card-body{
  background-color: #3b3d86;
  color: white;
}
